{% extends "base.html" %}

{% block script %}
    $('.error').hide();
    cmd('cd "$TM_BUNDLE_SUPPORT"');
    cmd('cd onebit/');
    cmd('source bash/global.sh');
    cmd('checkBuildPath');
    var output = TextMate.system(command, null).outputString;
    
    if (output) {
        $('#content').html(output);
    } else {
        if ('{{ device_str }}'!='' && '{{ package }}'!='') {
            command = "";
            cmd('device=$(CocoaDialog standard-dropdown --float --items {{ device_str }} --string-output --text "Select a device to uninstall the app from. Are you sure you want to delete all apps with the package/namespace: {{ package }}?")');
            cmd('echo ${device:2}"::::"${device:0}');
            
            device = (TextMate.system(command, null).outputString).replace("\n", "").replace(" ","");

            if (device.indexOf("::::Ok")==-1) {
                $('#output').html('Deletion cancelled');
            } else {
                i = device.indexOf('::::');
                device = device.substring(0,i);

                command = "";
                cmd('"$ANDROID_SDK"/platform-tools/adb -s "'+device+'" shell rm "/data/app/{{ package }}.apk"');
                TextMate.system(command, null);
                $('#output').html('"{{ package }}.apk", deleted from device '+device+".");
                
            }
        } else {
            $('#output').html('Either no Virtual Devices are running or the package name could not be found.');
        }  
    }
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
    <span class="error"></span>
    <h3></h3>
    <pre id="output"></pre>
{% endblock %}